---
const { href, title, body, imgsrc, year } = Astro.props;
---

<li class="link-card" style={`background-image:url(${imgsrc})`}>
	<a href={href} target="_blank" rel="noopener noreferrer">
		
		<div class="textbox">
			<div class="textboxsub">
				<h2>
					<div class="textbody">
						{title}
						<span>&rarr;</span>
					</div>
				</h2>
				<h4>
					<div class="textbody">
						{body}
						<br>
						({year})
					</div>
				</h4>
			</div>
		</div>
	</a>
</li>
<br>


<style>

	/* Box */
	.link-card {
		list-style: none;
		display: flex;
		border-radius: 0.5rem;
		transition-delay: 1s;
		transition: 0.3s ease-in-out;

		background-size: 100%;
		background-position: center;
		background-repeat:none;
		width: 50vw;
		height: 8rem;

		image-rendering: pixelated;
		
		/* offset x, offsety, blur radius, spreadradius  */
		box-shadow: -5px 4px 6px -1px rgba(0, 0, 0, 0.6), 5px 2px 4px -2px rgba(0, 0, 0, 0.5);

		
		/* border: 1px green solid; */
	}
	.link-card:hover {
		transition-delay: 3s;
		transition: 0.3s ease-in-out;

		background-size: 125%;
		background-position: center;

		width: 55vw;

		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -2px rgba(0, 0, 0, 1);
	}

	.textbox {
		/* border: 1px green solid; */
		height: 100%;

		position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
	}
	
	.textboxsub {
		/* border: 1px green solid; */
		width: 180%;
	}

	/* The Colour Fade Box Ontop */
	.link-card > a {
		transition: 0.3s ease-in-out;
		text-decoration: none;
		width: 100%;
		line-height: 1.4;
		padding: 1.3rem 1.3rem;
		border-radius: 0.5rem;
		opacity: 0;
		color: #fff;
		background-color: rgba(17, 7, 26, 0.616);

		border: 1px white solid;
		/* border: 1px green solid; */
	}
	.link-card:hover > a {
		transition: 0.3s ease-in-out;
		opacity: 1;
		/* border: 1px green solid; */
	}

	.textbody {
		/* border: 1px green solid; */
		width: 45vw
	}

	/* Text */
	h2 {
		margin: 0;
		font-size: 1.25rem;
		color: var(--accentlight);
		text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 2px var(--accent);
	}
	h4 {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #fff;
	}

	/* Media query for smaller screens */
	@media (max-width: 640px) {
		.link-card {
			width: 100%;
		}
  	}

	@media (max-width: 400px) {
		.link-card {
			width: 100%;
			background-size: 150%;
		}
  	}

</style>
