---
const { href, body, logoSprite, backgroundSprite, characterSprite } = Astro.props;
---

<div class="group">
<a href={href} target="_blank">   
    <div class="card">
        <div class="wrapper">
            <img src={backgroundSprite} class="cover-image" />
        </div>
      
        <img src={logoSprite} class="title" />
        <img src={characterSprite} class="character" />
    </div>
</a>
</div>

<div class="displayText">{body}</div>


<style>

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-border: 10px;
  --logo-text-transition: 0.5s;

  --shrinkCardHeight: 200px;
  --shrinkCardWidth: calc(var(--shrinkCardHeight) / 1.5);
}

.group  {
  /* border: 1px red solid; */
  width: var(--card-width);
  display: inline-block;
}


.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 36px;
  perspective: 2500px;
  margin: 0px 0px;

  box-sizing: border-box;
  text-decoration: none;

  border-radius: var(--card-border); 
  /* border: 3px solid red; */
  transition: 0.3s ease-out; 
}

.card:hover {
  transform: translateY(-10%);
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--card-border); 
  image-rendering: pixelated;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: var(--card-border); 
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(15deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  border-radius: var(--card-border); 
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  display: flex;
  text-align: center;
  transition: transform var(--logo-text-transition);
  image-rendering: pixelated;
  align-items: center

}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
  image-rendering: pixelated;

}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -20%, 100px);
}

/*  Display */
.displayText {
  opacity: 0;
  transform: translate3d(0%, 0%, 100px);
}

.card:hover .displayText {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.title {
  text-decoration: none;
  transform: translate(0%, -30px);
  transition: var(--logo-text-transition);
}

.card:hover .title {
  scale: 125%;
  transition: var(--logo-text-transition);
  transform: translate3d(0%, calc(-100%), -100px);
}

 /* Media query for smaller screens */
 @media (max-width: 640px) {
      .card {
        width: var(--shrinkCardWidth);
        height: var(--shrinkCardHeight);
      }

      .group {
        width: var(--shrinkCardWidth);
      }
  }

  @media (max-width: 400px) {
      .card {
        width: calc(var(--card-width));
        height: calc(var(--card-height));
      }

      .group {
        width: var(--card-width);
      }
  }

</style>