---
// import ImageCardPurple from "../components/ImageCardPurple.astro";
import SectionBanner from "../components/SectionBanner.astro";
import ThreeDeeCard from "../components/ThreeDeeCard.astro";
import ThreeDeeCardTextLogo from "../components/ThreeDeeCardTextLogo.astro";
import WorkExperienceTag from "./WorkExperienceTag.astro";

const { dates, logourl, position_name, company, desc, tags, companyhref } = Astro.props;
---

<!-- Section W Buttons -->
<div class="card">

    <div class="dynamic_buffer">
        <div class="card-content">
            <p>{dates}</p>

            <div class="logo-row">
                
                <!-- Display the Logo -->
                <div class="logo" style={`background-image:url(${logourl})`}></div>

                <!-- Other Stuff -->
                <a class="position" href={companyhref}>
                    <h1>{position_name}</h1>
                    <h4>{company}</h4>
                </a>
            </div>

            <p>{desc}</p>
        </div>

        <div class="tag-container">
            <!-- <WorkExperienceTag />
            <WorkExperienceTag />
            <WorkExperienceTag /> -->
            {tags &&
                tags.map((item) => (
                    <WorkExperienceTag 
                        item={item}/>
                ))
            }
        </div>
    </div>
</div>



<style>
.card {
    width: 384px;
    height: 216px;
    background-color: var(--background-card-bkg);
    border: 1px solid var(--background-card-border);
    border-radius: 10px;
    transition: 0.2s;

    padding: 15px;
}

.card:hover {
    background-color: var(--background-card-bkg-hover);

}

.dynamic_buffer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

a {
    text-decoration: none;
    transition: 0.1s;
}

.logo-row {
    display: flex;
    align-items: center;

    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    background-color: black;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 8px;
}

.position {

}

h1 {
    font-family: var(--title_font_family);
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    color: var(--textcol);
    transition: 0.1s;
}

a:hover > h1 {
    color: var(--primary-p);
    transition: 0.1s;
}

h4 {
    font-family: var(--title_font_family);
    font-size: 1rem;
    font-weight: 400;
    color: var(--textcol-off);
    transition: 0.1s;
}

a:hover > h4 {
    color: var(--primary-p);
    transition: 0.1s;
}

p {
    font-size: 0.9rem;
    font-family: var(--title_font_family);
    font-weight: 400;
    color: var(--textcol-dark);

    margin-bottom: 10px;
}


</style>